---
import SectionTitle from "./SectionTitle.astro";
import NextJS from "./icons/Nextjs.astro";
import Tailwind from "./icons/Tailwind.astro";
import Html from "./icons/Html.astro";
import Css from "./icons/Css.astro";
import TypeScript from "./icons/TypeScript.astro";
import MySql from "./icons/MySql.astro";
import Git from "./icons/Git.astro";
import React from "./icons/React.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import NestJS from "./icons/Nestjs.astro";
import JavaScript from "./icons/JavaScript.astro";
import Jest from "./icons/Jest.astro";

const personalImageAlt = "Alberto";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-[#003159] text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#003159] text-white",
    icon: Html,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: Css,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#003159] text-white",
    icon: TypeScript,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#003159] text-white",
    icon: MySql,
  },
  GIT: {
    name: "Git",
    class: "bg-[#003159] text-white",
    icon: Git,
  },
  REACT: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: React,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#003159] text-white",
    icon: AstroIcon,
  },
  NESTJS: {
    name: "Nest.js",
    class: "bg-[#003159] text-white",
    icon: NestJS,
  },
  JAVASCRIPT: {
    name: "JavaScript (ES6+)",
    class: "bg-[#003159] text-white",
    icon: JavaScript,
  },
  JEST: {
    name: "Jest",
    class: "bg-[#003159] text-white",
    icon: Jest,
  },
};
---

<SectionTitle title="About me" titleNumber="01" />
<div class="flex flex-col lgl:flex-row gap-16">
  <div
    class="w-full gl:w-1/3 text-base text-text-dark dark:text-textLight font-medium flex flex-col gap-4"
  >
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, omnis
      laboriosam. Odit dolores dolorum voluptas iure optio fugit voluptate
      soluta ex ut labore quas{" "}
      <span class="text-orange"> tempora voluptatum hic perferendis</span>
      , dicta eos.
    </p>
    <p>Here a few technologies I have been working recently:</p>
    <ul class="flex-wrap text-base font-titleFont grid grid-cols-3 gap-4 mt-6">
      {
        Object.values(TAGS).map((tag) => (
          <li class="flex items-center gap-3">
            <tag.icon class="size-6" />
            <span class="text-md">{tag.name}</span>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="w-full lgl:w-1/3 h-80 relative group">
    <div class="absolute w-full h-80 -left-6 -top-6 rounded-lg">
      <div class="w-full h-full relative z-20 flex pl-6 lgl:pl-0">
        <img
          src="../profilePicture.webp"
          alt={personalImageAlt}
          class="rounded-lg h-full object-cover"
        />
        <div
          class="hidden lgl:inline-block absolute w-full h-80 bg-orange/20 rounded-md top-0 left-0 group-hover:bg-transparent duration-300"
        >
        </div>
      </div>
    </div>
    <div
      class="hidden lgl:inline-flex w-full h-80 border-2 border-orange rounded-md group-hover:-translate-x-2 group-hover:-translate-y-2 transition-transform duration-300"
    >
    </div>
  </div>
</div>
