---
import Layout from "../layouts/Layout.astro";
import Section from "@/components/Section.astro";
import Hero from "@/sections/Hero.astro";
import Experience from "@/sections/Experience.astro";
import Briefcase from "@/icons/Briefcase.astro";
import CodeIcon from "@/icons/Code.astro";
import Projects from "@/sections/Projects.astro";
import ButtonUp from "@/components/ButtonUp.astro";
---

<Layout
  title="Portfolio Alberto Chávez Bautista"
  description="Portafolio de proyectos de Alberto Chávez Bautista"
>
  <main class="px-4">
    <Section class="py-16 md:py-36 md:pb-24">
      <Hero />
    </Section>
  </main>
  <div class="space-y-24 px-4">
    <Section id="experience">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase class="size-8" />
        Experience
      </h2>
      <Experience />
    </Section>
    <Section id="projects" class="py-10">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-7" />
        Projects
      </h2>
      <Projects />
    </Section>
    <ButtonUp />
  </div>
</Layout>
