---
import Layout from "../layouts/Layout.astro";
import Section from "@/components/Section.astro";
import Hero from "@/sections/Hero.astro";
import Skills from "@/sections/Skills.astro";
import CodeIcon from "@/icons/Code.astro";
import List from "@/icons/List.astro";
import Book from "@/icons/Book.astro";
import Contact from "@/icons/Contact.astro";
import Projects from "@/sections/Projects.astro";
import ButtonUp from "@/components/ButtonUp.astro";
import Certifications from "../components/Certifications";
import ContactForm from "@/components/ContactForm";
---

<Layout
  title="Portfolio - Alberto Chávez Bautista"
  description="Portfolio de proyectos de Alberto Chávez Bautista"
>
  <main class="px-4">
    <Section
      class="py-20 md:py-36 md:pb-24 animate-blurred-fade-in animate-duration-slower"
    >
      <Hero />
    </Section>
  </main>
  <div class="space-y-24 px-4">
    <Section
      id="projects"
      class="pt-10 animate-blurred-fade-in animate-delay-250"
    >
      <h2
        class="flex items-center mb-6 text-2xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-6" />
        Projects
      </h2>
      <Projects />
    </Section>
    <Section
      id="skills"
      class="pt-10 animate-blurred-fade-in animate-delay-400"
    >
      <h2
        class="flex items-center mb-6 text-2xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <List class="size-6" />
        Skills
      </h2>
      <Skills />
    </Section>
    <Section
      id="certifications"
      class="pt-10 animate-blurred-fade-in animate-delay-400"
    >
      <h2
        class="flex items-center mb-6 text-2xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Book class="size-6" />
        Certifications
      </h2>

      <Certifications client:load />
    </Section>

    <Section
      id="contact"
      class="pb-10 animate-blurred-fade-in animate-delay-400"
    >
      <h2
        class="flex items-center mb-6 text-2xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Contact class="size-6" />
        Contact
      </h2>

      <ContactForm client:load />
    </Section>
    <ButtonUp />
  </div>
</Layout>
