<div
  class="w-full h-full flex flex-col items-center justify-end text-[#525356] dark:text-white"
>
  <a
    href="https://drive.google.com/file/d/1noxhut3s5qY00NPKkVQ2rx1QTi0-iCsn/view?usp=drive_linkf"
    target="_blank"
  >
    <p class="text-lg rotate-90 w-44 tracking-widest text-orange">Resume</p>
  </a>
  <div class="w-[2px] h-44 bg-[#525356] inline-flex"></div>
</div>
