---
const currentYear = new Date().getFullYear();
---

<footer class="max-w-[1140px] mx-auto px-10">
  <hr class="my-6 border-orange sm:mx-auto dark:border-orange lg:my-8" />
  <div class="flex justify-center md:justify-normal pb-4">
    <a
      href="https://www.linkedin.com/in/albertobautistac/"
      class="cursor-pointer"
      target="_blank"
    >
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
        © {currentYear} Alberto Chávez Bautista
      </span>
    </a>
  </div>
</footer>
