---
import ProjectsList from "@/components/ProjectsList";

export interface Project {
  title: string;
  description: string;
  tech: string[];
  image: string;
  github: string;
  url: string;
  isInProgress: boolean;
}
const PROJECTS: Project[] = [
  {
    title: "Sofia V Beauty - Blog",
    description: "This is a blog for a a makeup artist.",
    tech: [
      "Next.JS",
      "React",
      "TypeScript",
      "Tailwind CSS",
      "Vercel Deployment",
    ],
    image: "/img/projects/sofiavbeauty-blog.webp",
    github: "https://github.com/albertobautista/",
    url: "https://sofia-v-beauty-blog.vercel.app/",
    isInProgress: true,
  },
  {
    title: "Titi Espinosa - Wedding Planner website",
    description:
      "This is a website for a wedding planner. It has a gallery, portfolio and a blog.",
    tech: [
      "Next.JS",
      "React",
      "TypeScript",
      "CSS",
      "Tailwind CSS",
      "Vercel Deployment",
    ],
    image: "/img/projects/titi-espinosa.webp",
    github: "https://github.com/albertobautista/",
    url: "https://titiespinosa-landing-page.vercel.app/",
    isInProgress: true,
  },
  {
    title: "Trips Map App",
    description:
      " This is a simple app where you can see the location of my visited cities in the world.",
    tech: [
      "React",
      "TypeScript",
      "CSS",
      "Tailwind CSS",
      "Frame Motion",
      "Google Maps API",
      "Vercel Deployment",
    ],
    image: "/img/projects/trips-map-app.webp",
    github: "https://github.com/albertobautista/trips-map-react",
    url: "https://trips-map-react.vercel.app/",
    isInProgress: false,
  },
  {
    title: "Digital Wedding Invitation",
    description:
      "This is a digital wedding invitation that I made for a wedding. It has a countdown, weeding schedule and a gallery with photos of the couple.",
    tech: [
      "Astro",
      "Preact",
      "TypeScript",
      "CSS",
      "Tailwind CSS",
      "Vercel Deployment",
    ],
    image: "/img/projects/wedding-invitation.webp",
    github: "https://github.com/albertobautista/wedding-web-astro",
    url: "https://wedding-web-astro.vercel.app/",
    isInProgress: false,
  },
  {
    title: "Games Search App",
    description:
      "This is a simple app where you can search for your favorite games and see the details of the game. Filter by platform, genre, and rating.",
    tech: [
      "React",
      "TypeScript",
      "Vite",
      "Chakra UI",
      "Axios",
      "Vercel Deployment",
    ],
    image: "/img/projects/games-app.webp",
    github: "https://github.com/albertobautista/game-hub-react",
    url: "https://game-hub-react-five.vercel.app",
    isInProgress: false,
  },
  {
    title: "Countdown App",
    description:
      "This is a simple countdown app where you can set a date and time and the app will show you the time remaining until that date.",
    tech: [
      "Astro",
      "Preact",
      "TypeScript",
      "Tailwind CSS",
      "Vercel Deployment",
    ],
    image: "/img/projects/countdown.webp",
    github: "https://github.com/albertobautista/miami-countdown",
    url: "https://friends-vacation-countdown.vercel.app/",
    isInProgress: false,
  },
  {
    title: "Movies App",
    description:
      "This is a simple app where you can find the most popular movies and tv shows. You can also search for a specific movie or tv show or filter by gender.",
    tech: [
      "NextJS",
      "TypeScript ",
      "Tailwind CSS",
      "Radix UI",
      "The Movie Database API",
      "Vercel Deployment",
    ],
    image: "/img/projects/movies_app.webp",
    github: "https://github.com/albertobautista/movies-nextjs14-app",
    url: "https://movies-nextjs14-app.vercel.app/",
    isInProgress: false,
  },
  {
    title: "Live News App",
    description:
      "In this app you can find the latest news about differents categories as: Business, Entertainment, Health, Science, Sports and Technology",
    tech: [
      "NextJS",
      "Typescript",
      "Tailwind CSS",
      "GraphQL",
      "StepZen",
      "Vercel Deployment",
    ],
    image: "/img/projects/live_news.webp",
    github: "https://github.com/albertobautista/live-news-nextjs13",
    url: "https://live-news-nextjs13.vercel.app/",
    isInProgress: false,
  },
  {
    title: "Club Valle Real de Guadalajara",
    description:
      "Club Valle Real de Guadalajara is a private club located in Zapopan, Jalisco, Mexico. This is the official website of the club.",
    tech: [
      "NextJS",
      "TypeScript",
      "Tailwind CSS",
      "Embla carousel",
      "Vercel Deployment",
    ],
    image: "/img/projects/club_valle_real.webp",
    github: "https://github.com/albertobautista/",
    url: "https://clubvallereal.com",
    isInProgress: false,
  },
  {
    title: "Baag Landscaping",
    description:
      "Baag Landscaping is a company dedicated to the design and construction of gardens and green areas. This is the official website of the company.",
    tech: ["HTML5", "CSS3", "PHP", "JavaScript"],
    image: "/img/projects/baag_landscapging.webp",
    github: "https://github.com/albertobautista/",
    url: "https://baag-landscaping.com.mx/",
    isInProgress: false,
  },
];
---

<div class="flex w-full flex-col items-center justify-between gap-8 mt-2">
  <p class="text-xl tracking-widest font-medium">Most recent projects</p>
  <ProjectsList projects={PROJECTS} client:load />
</div>
